<form #form="ngForm"
      fxLayoutAlign="center">
  <mat-form-field class="search-form">
    <input matInput
           name="search"
           ngModel
           placeholder="Search Tag"
           type="text">
  </mat-form-field>
  <button mat-raised-button
          class="button"
          [routerLink]=""
          [queryParams]="{tag: form.value.search}"
          color="primary">Search
  </button>
</form>
<div fxLayout="row wrap"
     fxLayoutGap="0.5%"
     fxLayoutAlign="center">
  <a *ngFor="let image of imagesList$ | async"
     [routerLink]="[image.id]"
     [queryParams]="{tag: tag}">
    <img alt="{{image.title}}"
         title="{{image.author}}: {{image.title}}"
         [src]="image.media.m">
  </a>
</div>

